<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav">
            <li><a class="nav-link" href="/cards">Cards</a></li>
            <li><a class="nav-link" href="/decks">Decks</a></li>
            <% if(user){ %>
                <li><a class="nav-link" href="/users/profile">Profile</a></li>
                <li><a class="nav-link" href="/users/logout">Logout</a></li>

                <% } else {%>
                    <li><a class="nav-link" href="/users/new">Sign Up</a></li>
                    <li><a class="nav-link" href="/users/login">Login</a></li>
                    <% } %>
        </ul>
    </div>
    </div>
</nav>

<a href="/cards">Cards</a>
<div class="center">
    <div class="center" style=" height: 347px; width: 248px; border: .2rem dashed white;">
        <img src="<%= card.images.small %> " alt="">
    </div>

    <% if (hrs>= 2) { %>

        <form style="display: inline;" action="/cards/new" method="post">
            <input type="submit" value="Claim">
            <input type="hidden" value="<%= card.id %>" name="currentCard">
            <input type="hidden" value="<%= user.id %>" name="userId">
            <input type="hidden" value="<%= currentTime %>" name="currentTime">
        </form>
        <form style="display: inline;" action="/cards/new" method="get">
            <input type="submit" value="Skip">
        </form>
        <% } else { %>
            <h4>Time Elapsed: <%= timer%>
            </h4>

            <%}%>


</div>