<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li><a class="nav-link" href="/users/profile">Profile</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Cards</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/cards/new">New</a>
                        <a class="dropdown-item" href="/cards">View</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Decks</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/decks/new">New</a>
                        <a class="dropdown-item" href="/decks">View</a>
                    </div>
                </li>
                <li><a class="nav-link" href="/users/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<a href="/cards">Back</a>
<div class="center space">
    <h1>
        <%= card.name %>
    </h1>
    <img src="<%= card.image%> " style="padding-bottom: 1rem;" />

    <table class="table table-hover center" style="width: 20rem;">
        <tbody>
            <tr class="table-secondary">
                <th scope="row">
                    <h3>Type:</h3>
                </th>
                <td>
                    <h3 style="color: white;">
                        <%= card.type %>
                    </h3>
                </td>
        </tbody>
        <tbody>
            <tr class="table-secondary">
                <th scope="row">
                    <h3>Attack:</h3>
                </th>
                <td>
                    <h3 style="color: white;">
                        <%= card.attack %>
                    </h3>
                </td>
        </tbody>
        <tbody>
            <tr class="table-secondary">
                <th scope="row">
                    <h3>Weakness:</h3>
                </th>
                <td>
                    <h3 style="color: white;">
                        <%= card.weakness %>
                    </h3>
                </td>
        </tbody>
        <tbody>
            <tr class="table-secondary">
                <th scope="row">
                    <h3>Resistance:</h3>
                </th>
                <td>
                    <h3 style="color: white;">
                        <%= card.resistance %>
                    </h3>
                </td>
        </tbody>
        <tbody>
            <tr class="table-secondary">
                <th scope="row">
                    <h3>Rarity:</h3>
                </th>
                <td>
                    <h3 style="color: white;">
                        <%= card.rarity %>
                    </h3>
                </td>
        </tbody>
    </table>

    <br>
    <form action="/cards/<%= card.id %>/?_method=DELETE" method="post">
        <input type="submit" value="Delete Card" class="btn btn-primary">
    </form>

</div>