<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li><a class="nav-link" href="/users/profile">Profile</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Cards</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/cards/new">New</a>
                        <a class="dropdown-item" href="/cards">View</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Decks</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/decks/new">New</a>
                        <a class="dropdown-item" href="/decks">View</a>
                    </div>
                </li>
                <li><a class="nav-link" href="/users/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<a href="/cards">Back</a>
<div class="center">
    <h1>
        <%= card.name %>
    </h1>
    <img src="<%= card.image%> " />
    <h3>Type: <%= card.type %>
    </h3>
    <h3>Attack: <%= card.attack %>
    </h3>
    <h3>Weakness: <%= card.weakness %>
    </h3>
    <h3>Resistance: <%= card.resistance %>
    </h3>
    <h3>Rarity: <%= card.rarity %>
    </h3>

    <br>
    <form action="/cards/<%= card.id %>/?_method=DELETE" method="post">
        <input type="submit" value="Delete Card">
    </form>

</div>