<a href="/cards">Cards</a>
<div>
    <h1>
        <%= card.name %>
    </h1>
    <img src="<%= card.image%> " />
    <h3>Type: <%= card.type %>
    </h3>
    <h3>Attack: <%= card.attack %>
    </h3>
    <h3>Weakness: <%= card.weakness %>
    </h3>
    <h3>Resistance: <%= card.resistance %>
    </h3>
    <h3>Rarity: <%= card.rarity %>
    </h3>

</div>